/* -------Events Section------- */

.EventsNear-header,
.OnlineEvents-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.EventsNear-heading-search-bar,
.OnlineEvents-heading-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.EventsNear-heading-search-bar h2 {
  width: 160px;
}
.EventsNear-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 8px 8px 12px;
  color: rgba(0, 121, 138, 1);
  background-color: rgba(151, 202, 209, 0.12);
  border-radius: 0.5rem;
}
.EventsNear-location-input {
  color: rgba(0, 121, 138, 1);
  background-color: rgba(151, 202, 209, 0);
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  width: 186px;
}
.EventsNear-edit-btn {
  width: 22px;
  height: 22px;
  border: none;
  color: rgba(0, 121, 138, 1);
  background-color: rgba(151, 202, 209, 0);
}
.see-events-link {
  color: #00798a;
  font-weight: 500;
}

@media (max-width: 768px) {
  .EventsNear-heading-search-bar__right,
  .OnlineEvents-heading-search-bar__right {
    display: none;
  }
}

@media (max-width: 480px) {
  .EventsNear-location-input {
    width: 128px;
    font-size: 16px;
  }
  .EventsNear-heading-search-bar h2 {
    width: 110px;
  }
}
