.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 68px;
}

.heading-data {
  max-width: 608px;
  flex-grow: 1;
}

h1 {
  margin-bottom: 24px;
  line-height: 52px;
}

.heading-data p {
  margin-bottom: 24px;
  line-height: 24px;
}

.Join-Meetup-btn {
  background-color: rgba(0, 121, 138, 100);
  border-radius: 8px;
  width: 125px;
  height: 40px;
  cursor: pointer;
}
.Join-Meetup-btn:hover {
  background-color: #025865;
}

.Join-Meetup-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
}

.heading-img {
  flex-grow: 1;
}

.heading-img img {
  display: block;
  margin: 0 auto;
}

.heading-img-adapt {
  display: none;
}

.heading-img-adapt img {
  display: block;
  margin: 0 auto 16px;
  width: 70%;
}

@media (max-width: 768px) {
  .heading-img-adapt {
    display: block;
  }
  .heading-img {
    display: none;
  }
  .Join-Meetup-btn {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .Join-Meetup-btn {
    width: 100px;
    height: 32px;
  }
}
