header {
  display: flex;
  padding: 16px 24px;
  height: 64px;
  position: relative;
}

.logo {
  margin-right: 40px;
}

.logo img {
  height: 34px;
}

.search-bar-container {
  display: flex;
}

.search-bar {
  display: flex;
  align-items: center;
  max-width: 592px;
  height: 42px;
  border: 1px solid #ddd;
  border-radius: 0.4rem 0 0 0.4rem;
  border-right: none;
  overflow: hidden;
  background-color: #fff;
  flex-grow: 1;
}

.search-input,
.location-input {
  height: 100%;
  border: none;
  padding: 0 12px;
  font-weight: regular;
  outline: none;
}

.search-input {
  flex: 1;
  padding-left: 40px;
  background-image: url(../assets/icons/search1.png);
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  background-size: 1.3rem;
}

.location-input {
  width: 254px;
  border-left: 1px solid #e0e0e0;
}

.search-button {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 0 0.4rem 0.4rem 0;
  background-color: rgba(246, 88, 88, 1);
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #e04345;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.headerMenu {
  margin-left: auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.choose-language-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.globe-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
}

.login-btn {
  background-color: transparent;
  padding-left: 0px;
}

.login-btn:hover {
  background-color: #dff9f9;
}

.signup-btn {
  background-color: #02798a;
  color: #fff;
}

.signup-btn:hover {
  background-color: #025865;
}

@media (max-width: 1024px) {
  .location-input {
    display: none;
  }
}

@media (max-width: 768px) {
  .search-bar-container {
    position: absolute;
    top: 100%;
    margin: 8px auto;
    left: 24px;
    right: 24px;
    width: auto;
  }
  .headerMenu {
    font-size: 12px;
  }
  .logo {
    margin-right: 8px;
  }
}

@media (max-width: 480px) {
  .logo-btn {
    max-width: 100px;
    flex-shrink: 1;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .headerMenu {
    gap: 0.5rem;
    flex-shrink: 0;
  }

  .search-input,
  .location-input {
    font-size: 12px;
  }

  .button {
    font-size: 12px;
    padding: 6px 12px;
  }

  .choose-language-wrapper {
    font-size: 12px;
  }

  .login-signup .login-btn {
    padding: 6px 0px;
    margin-right: 0.5rem;
  }
}
