* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  max-width: 1512px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/***** -- Header Section -- *****/
header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  height: 64px;
}

/* ------headerFlex-------- */
.headerFlex {
  display: flex;
  align-items: center;
  width: 750px;
}

.logo-btn {
  margin-right: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 42px;
  border: 1px solid #ddd;
  border-radius: 0.4rem 0 0 0.4rem;
  border-right: none;
  overflow: hidden;
  background-color: #fff;
  flex-grow: 1;
}

.search-input,
.location-input {
  height: 100%;
  border: none;
  padding: 0 12px;
  font-weight: regular;
  outline: none;
}

.search-input {
  flex: 1;
  padding-left: 40px;
  background-image: url(../assets/icons/search1.png);
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  background-size: 1.3rem;
}

.location-input {
  width: 254px;
  border-left: 1px solid #e0e0e0;
}

.search-button {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 0 0.4rem 0.4rem 0;
  background-color: rgb(246, 88, 88);
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #e04345;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

/* ------headerMenu-------- */
.headerMenu {
  font-size: medium;
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerMenu > a {
  text-decoration: none;
  color: black;
}

.headerMenu > input {
  color: white;
  background-color: rgb(0, 121, 138);
  border-radius: 8px;
  width: 83px;
  height: 36px;
  border: none;
}

/***** -- Main Section -- *****/
main {
  border: 1px solid grey;
  max-width: 1196px;
  margin: 0px auto;
}

/* ------heading-------- */
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 68px 0px;
}

.heading-data {
  max-width: 608px;
  flex-grow: 1;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 52px;
}

.heading-data p {
  margin-bottom: 24px;
  line-height: 24px;
}

.Join-Meetup-btn {
  background-color: rgb(0, 121, 138);
  color: white;
  border: none;
  border-radius: 8px;
  width: 125px;
  height: 40px;
  cursor: pointer;
}

.heading-img {
  flex-grow: 1;
}

.heading-img img {
  display: block;
  margin: 0 auto;
}

/* ------Events Near-------- */
.EventsNear-section {
  border: 1px solid blue;
}

.EventsNear-heading-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.EventsNear-heading-search-bar h2 {
  font-size: 28px;
  font-weight: 600;
  width: 160px;
}

.EventsNear-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 8px 8px 12px;
  color: rgb(0, 121, 138);
  background-color: rgba(151, 202, 209, 0.12);
  border-radius: 0.5rem;
}

.EventsNear-location-input {
  color: rgb(0, 121, 138);
  background-color: rgba(151, 202, 209, 0);
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  width: 186px;
}

.EventsNear-edit-btn {
  width: 22px;
  height: 22px;
  border: none;
  color: rgb(0, 121, 138);
  background-color: rgba(151, 202, 209, 0);
}/*# sourceMappingURL=style.css.map */